* {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin:0;
  padding:0;
}

#name {
  font-size: 40px;
  font-weight: 600;
}

.clearfix {
  overflow: auto;
}

.summary-entry, .education-entry, .work-entry, .project-entry, .onlineEducation-entry {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  color: #FE5000;
  display: inline;
  font-size: 40px;
  line-height: 48px;
}

h2 {
  color: #FE5000;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  padding: 10px;
}

h3 {
  color: #FE5000;
  font-size: 24px;
  font-weight: bold;
  line-height: 22px;
  padding-bottom: 0;
  padding-top: 0;
}

h4 {
  color: #FE5000;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:10px;
  padding-left: 5%;
  padding-right: 5%;
}


.date-text {
  color: #999999;
  float: left;
  font-size: 14px;
  line-height: 16px;
}

.location-text {
  color: #999999;
  float: right;
  font-size: 14px;
  font-style: italic;
  line-height: 16px;

}

#skillsH3 {
  color: #FE5000;
  font-size: 18px;
  padding-bottom: 0;
  padding-top: 0;
  display: none;
}

p {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
}

a {
  color: #9D3642;
  display: block;
  margin-top: 10px;
  text-decoration: none;
}

b {
  color: #9D3642;
  display: block;
  font-size: 15px;
  margin-top: 10px;
  text-decoration: none;
}

c {
  color: #9D3642;
  display: block;
  font-size: 15px;
  font-style: italic;
  margin-top: 10px;
  text-decoration: none;
}

i {
  color: #9D3642;
}

.welcome-message {
  color: #FE5000;
  font-size: 24px;
  font-style: italic;
  line-height: 28px;
}

.orange {
  background-color: #FE5000;
  color: #FFFFFF;
}

.orange-text {
  color: #FE5000;
}

.white-text {
  color: #FFFFFF;
  font-weight: bold;
}

.gray {
  background-color: #F3F3F3;
  clear:both;
}

.dark-gray {
  background-color: #BED0DC;
}

/* TODO: Replace with image later */
#header {
  background-color: #BED0DC;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.flex-box {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.contact-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5% 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  border-radius: 100%;
  float: left;
  height: 200px;
  padding: 10px;
  width: 200px;
}

img {
  height: 148px;
  padding: 10px;
  width:197px;
}

.fixed-nav {
  position: fixed;
  top: 0;
}

#nav-bar {
  background-color: #BED0DC;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  width: 100%;
  z-index: 100;
}

#nav-menu {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  max-width: 800px;
  padding: 0;
  position: relative;
}

/*#navemenu li {
  border-bottom-style: solid;
  border-color: white;
  border-width: 1px;
  border: none;
  padding: 0;
}*/

a.nav-item {
  -webkit-transition: background-color 0.2s ease-out;
  color: white;
  display: block;
  font-size: 24px;
  font-weight: 600;
  height: auto;
  margin-top: 0px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

a.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

a.nav-item:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

a.nav-item:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.navbar-text {
  padding: 20px 0 20px 0;
}

.navbar-text > a {
  color: #9D3642;
  display: inline;
  padding:0 20px 0 20px;
  text-decoration: none;
}

span {
  padding: 5px;
}

#topContact {
  text-align: center;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
   #name, #role {
    display: block;
    margin: auto;
    text-align: center;
  }
  a {
    font-size: 20px;
  }
  .sub-title {
    text-align: center;
  }

  #topContact {
    margin-top: 5%;
  }

  #letsConnect {
    margin-top: 30%;
  }

  .biopic {
    width: 150px;
  }

  .welcome-message {
    display: none;
  }

}

@media only screen and (max-width: 450px) {
  .biopic {
    display: none;
  }

  #skills .flex-item {
    display: none;
  }

  #topContacts {
    text-align: center;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  padding-bottom: 5%;
  width: 100%;
}

