body {
	color: #666;
	font: 400 16px/30px Verdana, sans-serif;
}

h1 {
	font-size: 48px;
	font-weight: 500;
	margin: 46px 0 0 0;
	text-align: center;
}

.container {
	margin: auto;
}

.col-md-5 {
	margin: auto;
	max-width: 375px;
	padding: 0;
}

.col-md-12 {
	text-align: center;
}

.img-responsive  {
	margin: 15px 0 0 0;
}

.col-md-7 {
	height: 750px;
	margin: auto;
	padding: 0 0 0 29px;
	width: 575px;
}

h2 {
	color: #F07C17;
	font-size: 24px;
	font-weight: 700;
	margin: 15px 0 30px 0;
}

.features {
	border: 1px solid #ccc;
	font-weight: normal;
	height: 224px;
	margin: 30px 0 0 0;
	padding: 8px 0 0 29px;
	width: 373px;
}

ul {
	font-weight: normal;
	line-height: 31px;
	margin: 0;
	padding: 1px 0 0 41px;
}

p {
	font-size: 16px;
	line-height: 200%;
	margin: 0 0 10px 0;
	width: 535px;
}