body {
	font: 400 16px/30px Verdana, sans-serif;
	color: #666;
}

h1 {
	margin: 46px 10px 0 0;
	font-weight: 500;
	font-size: 48px;
}

.col-md-5 {
	padding: 0 0 0 0;
	margin: 15px 0 0 57px;
	max-width: 375px;
}

.img-responsive  {
	margin: 15px 0 0 0;
}

.col-md-7 {
	padding: 0 0 0 29px;
	margin: 8px 0 0 0;
	height: 750px;
	width: 575px;
}

h2 {
	margin: 22px 0 30px 0;
	color: #F07C17;
	font-size: 24px;
	font-weight: 700;
}

.features {
	padding: 8px 0 0 29px;
	margin: 30px 0 0 0;
	border: 1px solid #ccc;
	width: 373px;
	height: 224px;
	font-weight: normal;
}

ul {
	margin: 0;
	padding: 1px 0 0 41px;
	font-weight: normal;
	line-height: 31px;
}

p {
	margin: 0 0 10px 0;
	font-size: 16px;
	width: 535px;
	line-height: 200%;
}
