@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

#name {
  font-size: 40px;
  font-weight: 600;
}

.clearfix {
  overflow: auto;
}

.summary-entry, .education-entry, .work-entry, .project-entry, .onlineEducation-entry {
  padding: 0 5% 0 5%;
}

#workExperience, #projects, #education {
  padding-top: 44px;
}

h1 {
  color: #FE5000;
  display: inline;
  font-size: 40px;
  line-height: 48px;
  padding: 10px 15px 10px 0;
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
}

h2 {
  color: #FE5000;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  padding: 2% 5% 2% 5%;
}

h3 {
  color: #FE5000;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  padding: 5% 5% 0 5%;
}

h4 {
  color: #FE5000;
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
  padding: 3% 5% 3% 5%;
}

h5 {
  background-color: #FE5000;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  padding: 1% 0 1% 0;
}

#map {
  height: 100%;
  margin: 0 5% 0 5%;
}

#mapDiv {
  height: 300px;
  padding-bottom: 8%;
  width: 100%;
}

.date-text {
  color: #999999;
  float: left;
  font-size: 14px;
  line-height: 16px;
}

.location-text {
  color: #999999;
  float: right;
  font-size: 14px;
  font-style: italic;
  line-height: 16px;

}

#skillsH3, #frameworksH3,
#librariesH3, #buildtoolsH3, #additionalH3 {
  color: #FE5000;
  display: none;
  font-size: 18px;
  padding: 0;
}

#languagesH3 {
  color: #FE5000;
  display: none;
  font-size: 18px;
  padding: 0;
}

p {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
}

a {
  color: #9D3642;
  display: block;
  margin-top: 10px;
  text-decoration: none;
}

b {
  color: #9D3642;
  display: block;
  font-size: 15px;
  margin-top: 10px;
  text-decoration: none;
}

c {
  color: #9D3642;
  display: block;
  font-size: 15px;
  font-style: italic;
  margin-top: 10px;
  text-decoration: none;
}

i {
  color: hsla(0,0%,20%,1);
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
}

i:hover {
  color: #FE5000;
}

.welcome-message {
  color: #FE5000;
  font-size: 24px;
  font-style: italic;
  line-height: 28px;
}

.orange {
  background-color: #FE5000;
  color: #FFFFFF;
}

.orange-text {
  color: #FE5000;
}

.white-text {
  color: #FFFFFF;
  font-weight: bold;
}

.contact-text {
  color: hsla(0,0%,20%,1);
  font-weight: bold;
  padding: 5px 5px 5px 20px;
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
}

.gray {
  background-color: #F3F3F3;
  clear:both;
}

.dark-gray {
  background-color: #BED0DC;
}

.metal {
  background-color: hsl(0,0%,90%);
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */

    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */

  color: hsla(0,0%,20%,1);
  margin-bottom: 40px;
  outline: none;
  position: relative;
  text-align: center;
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
}

.metal.linear {
  background-image:
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),


    linear-gradient(180deg, hsl(0,0%,78%)  0%,
    hsl(0,0%,90%) 47%,
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);

  background-size: 50px 55px;
  width: 100px;
}

#header {
  background-color: hsla(0,0%,93%,1);
  background-image: linear-gradient(-45deg, hsla(0,0%,0%,0), hsla(0,0%,0%,.05) );
  background-size: 5px;
  color: hsla(0,0%,20%,1);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
}

.flex-box {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-box {
  -webkit-justify-content: space-around;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5% 2.5% 5%;
}

ul {
  list-style-type: none;
}

#footer {
  text-align: center;
}

ul#footerContacts {
  display: inline-flex;
}

ul#footerContacts li {
  padding: 0 2% 0 2%;
}

.biopic {
  border-radius: 100%;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  float: left;
  height: 200px;
  margin: 15px 15px 10px 0;
  width: 200px;
}

img {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  height: 148px;
  margin: 15px 0 15px 0;
  width:197px;
}

.fixed-nav {
  position: fixed;
  top: 0;
}

#nav-bar {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  width: 100%;
  z-index: 100;
}

#nav-menu {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  color: black;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  max-width: 800px;
  padding: 0;
  position: relative;

}

a.nav-item {
  -webkit-transition: background-color 0.2s ease-out;
  color: black;
  display: block;
  font-size: 24px;
  font-weight: 600;
  height: auto;
  margin-top: 0px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

a.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

a.nav-item:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

a.nav-item:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.navbar-text {
  padding: 20px 0 20px 0;
  text-align: center;
}

.navbar-text > a {
  color: #9D3642;
  display: inline;
  padding:0 20px 0 20px;
  text-decoration: none;
}

span {
  padding: 5px;
}

#topContact {
  text-align: center;
}

#letsConnect {
  text-align: center;
}

/*@media only screen and (max-width: 1024px) {

#letsConnect {
  margin-top: 5%;
}

}
*/
/*@media only screen and (max-width:900px) {

.biopic {
  display:none;
}

#skills, #frameworks, #languages,
#libraries, #buildtools, #additional {
  display: none;
}

#skillsH3, #frameworksH3, #languagesH3,
#librariesH3, #buildtoolsH3, #additionalH3 {
  display: none;
}

.welcome-message {
  display: none;
}
.contact-box {
  display:none;
}

}
*/
/*----------------------------------- iPHONE 6+ -----------------------------------*/
/* iphone 6+ Portrait */

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation : portrait) {

.biopic {
  display: none;
}

h1 {
  padding: 0;
}

#letsConnect {
  margin-top: 30px !important;
}

.fa-2x {
  font-size: 2.0em !important;
}

#name, #role {
  display: block;
  margin: auto;
  text-align: center;
}

#name {
  font-size: 40px;
  padding: 10px;
}

#role {
  font-size: 22px;
}

#skills .flex-item {
  display: none;
}

#topContacts {
  display: inline;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

span.contact-text {
  font-size: 19px;
}

.welcome-message {
  display: none;
}

#skills, #frameworks, #languages,
#libraries, #buildtools, #additional {
  display: none;
}

#skillsH3, #frameworksH3, #languagesH3,
#librariesH3, #buildtoolsH3, #additionalH3 {
  display: none;
}

em {
  font-size: 16px;
}

}

/* iphone 6+ Landscape */

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation : landscape) {

.biopic {
  display: none;
}

h1 {
  padding: 0;
}

#letsConnect {
  margin-top: 15px;
}

.fa-2x {
  font-size: 1.5em !important;
}

#name, #role {
  display: block;
  margin: auto;
  text-align: center;
}

#name {
  font-size: 50px;
  padding: 10px;
}

#role {
  font-size: 22px;
}

#skills .flex-item {
  display: none;
}

#topContacts {
  display: inline;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.welcome-message {
  display: none;
}

#skills, #frameworks, #languages,
#libraries, #buildtools, #additional {
  display: none;
}

#skillsH3, #frameworksH3, #languagesH3,
#librariesH3, #buildtoolsH3, #additionalH3 {
  display: none;
}

}

/*----------------------------------- iPHONE 6 -----------------------------------*/
/* iPhone 6 Portrait */

@media only screen and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {

.biopic {
  display: none;
}

h1 {
  padding: 0;
}

.contact-text {
  font-size: 15px;
}

#letsConnect {
  margin-top: 15%;
}

.fa-2x {
  font-size: 1.4em !important;
}

#name, #role {
  display: block;
  margin: auto;
  text-align: center;
}

#name {
  font-size: 40px;
  padding: 10px;
}

#role {
  font-size: 22px;
}

#skills .flex-item {
  display: none;
}

#topContacts {
  display: inline;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.welcome-message {
  display: none;
}

#skills, #frameworks, #languages,
#libraries, #buildtools, #additional {
  display: none;
}

#skillsH3, #frameworksH3, #languagesH3,
#librariesH3, #buildtoolsH3, #additionalH3 {
  display: none;
}

}

/* iPhone 6 Landscape */
@media only screen and (min-device-width: 375px)
and (max-device-width: 667px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {

.biopic {
  display: none;
}

h1 {
  padding: 0;
}

#letsConnect {
  margin-top: 25px;
}

.fa-2x {
  font-size: 1.5em !important;
}

#name, #role {
  display: block;
  margin: auto;
  text-align: center;
}

#name {
  font-size: 45px;
  padding: 10px;
}

#role {
  font-size: 22px;
}

#skills .flex-item {
  display: none;
}

#topContacts {
  display: inline;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.welcome-message {
  display: none;
}

#skills, #frameworks, #languages,
#libraries, #buildtools, #additional {
  display: none;
}

#skillsH3, #frameworksH3, #languagesH3,
#librariesH3, #buildtoolsH3, #additionalH3 {
  display: none;
}

}
/* Iphone 5/5s */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

.biopic {
  display: none;
}

h1 {
  padding: 0;
}

#letsConnect {
  margin-top: 60px;
}

a.nav-item {
  font-size: 19px;
}

span.contact-text {
  font-size: 13px;
}

.fa-2x {
  font-size: 1.1em !important;
}

#name, #role {
  display: block;
  margin: auto;
  text-align: center;
}

#name {
  font-size: 40px;
  padding: 10px;
}

#role {
  font-size: 22px;
}

#skills .flex-item {
  display: none;
}

#topContacts {
  display: inline;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
}

.welcome-message {
  display: none;
}

#skills, #frameworks, #languages,
#libraries, #buildtools, #additional {
  display: none;
}

#skillsH3, #frameworksH3, #languagesH3,
#librariesH3, #buildtoolsH3, #additionalH3 {
  display: none;
}

}

/* iPads (portrait and landscape) ----------- */
/**/
/* iPad Portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

.biopic {
  display: none;
}

h1 {
  padding: 0;
}

#letsConnect {
  margin-top: 30px;
}

a.nav-item {
  font-size: 30px;
}

span.contact-text {
  font-size: 22px;
}

.fa-2x {
  font-size: 1.5em !important;
}

#name, #role {
  display: block;
  margin: auto;
  text-align: center;
}

#name {
  font-size: 65px;
  padding: 10px;
}

#role {
  font-size: 35px;
}

#skills .flex-item {
  display: none;
}

#topContacts {
  display: inline;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
}

.welcome-message {
  display: none;
}

#skills, #frameworks, #languages,
#libraries, #buildtools, #additional {
  display: none;
}

#skillsH3, #frameworksH3, #languagesH3,
#librariesH3, #buildtoolsH3, #additionalH3 {
  display: none;
}

}

/*-------- Samsung S4 --------*/
/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-height: 640px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 3){

span.contact-text {
  font-size: 16px;
}

.fa-2x {
  font-size: 1.5em !important;
}

em {
  font-size: 15px;
}

}

/*-------- Samsung S3 --------*/
/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-height: 640px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2){

span.contact-text {
  font-size: 16px;
}

.fa-2x {
  font-size: 1.5em !important;
}

em {
  font-size: 15px;
}

}